.aboutMeDiv {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin: 0 auto;
    justify-content: center;
    gap: 140px;
    height: 250px;
    padding-top: 100px;
}

.aboutMeTitle {
    color: var(--color-white);
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.aboutMeParagraph {
    width: 800px;
    color: var(--color-white);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}