.footerUl {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 200px;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

.footerLi {
    color: var(--color-white);
}

.contactFooter {
    color: var(--color-white);
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
}

.rightsLi {
    color: var(--color-white);
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.footerIcon {
    padding-top: 10px;
    gap: 20px;
}

.iconImg {
    padding: 5px;
}

.footerDiv {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}