.techParagraph {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    margin-left: 180px;
}

.techDiv {
    display: flex;
    background-color: var(--color-primary);
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: center;
    gap: 20px;
    height: 300px;
}
